.btn{
    margin-right: 20px !important;
}
.heroRow{
    display: flex;
}
.heroImageCol{
    width: 100vw;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}
.heroImageCol img{
    width: 90vw;
}


/* Downloader page */
.downloaderContainer{
    margin-top: 20vh;
}


@media screen and (min-width: 600px) {
    /* desktop */
    .heroImageCol{
        width: 50vw;
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        order: 2;
    }
    .heroImageCol img{
        width: 40vw;
        
    }
    .heroTextCol{
        padding-top: 200px;
        order: 1;
    }
}
@media screen and (max-width: 600px) {
    /* mobile */
}
